<div class="row mt-4">
    <div class="col-md">
        <div class="card bg-light mb-3">
            <div class="card-header">Sign up with your Google or Facebook account</div>
            <div class="card-body">
                <a href="/auth/google" class="btn btn-danger">Sign Up via Google</a>
                <a href="/auth/twitter" class="btn btn-primary">Sign Up via Twitter</a>
                <small class="form-text text-muted">MediBook will never post anything on your social media account.</small>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md">
        <div class="card bg-light mb-3">
            <div class="card-header">Sign Up with MediBook</div>
            <div class="card-body">
                <form action="/signup" method="POST">
                    <div class="form-group row">
                        <label for="fname" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="fname" name="fname" value="{{userData.fname}}"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lname" name="lname" value="{{userData.lname}}"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="username" placeholder="name@example.co.nz"
                                name="username" value="{{userData.username}}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <small class="col-sm-12 text-muted">Your Email will also be your Username in MediBook.</small>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" name="password" pattern=".{6,}"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="passwordCheck" class="col-sm-2 col-form-label">Confirm Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="passwordCheck" name="passwordCheck"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <small class="col-sm-12 text-muted">Your Password should be at least 6 characters.</small>
                    </div>
                    {{!-- set newly created accounts as active by default --}}
                    <input type="hidden" name="activeFlag" value="1">
                    {{#if passwordFail}}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        Your password and confirmation password do not match.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{/if}}
                    <div class="form-group row float-right">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>